.add-service form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.add-service form input, textarea{
    width: 50%;
    padding: 10px;
    margin-bottom: 10px;
}
.addService-button {
    background-color: #F97150;
    font-weight: bold;
    color: white;
}

@media only screen and (max-width: 688px) {
    .add-service form input, textarea{
        width: 60%;
    }
}